/* Variables */
$nav-sprite-url: '../img/ui-icons.svg';
$chns-sprite-url: '../img/ui-chns.png';
$nav-background-size: 766px 260px;
$chns-background-size: 36px 1188px;
$nav-width: 90px;
$nav-height-spacer: 8px;
$grey-0: #FBFBFB;
$grey-1: #F7F7F7;
$grey-2: #f1f1f1;
$grey-3: #e6e5e5;
$grey-4: #D9DADB;
$grey-5: #c9c9c9;
$grey-6: #b1b1b1;
$light-grey: #DEDEDE;
$medium-grey: #5f5f5f;
$dark-grey: #3E3D40;
$cal-color: #C12943;
$fluo-blue: #009ADB;
$ultralight-blue: #f5f7fa;
$light-blue: #E7ECF5;
$medium-blue: #B8CDE6;
$dark-blue: #85AADA;
$break-xsmall: 380px;
$break-small: 500px;
$break-medium: 820px;
$break-large: 950px;
$break-xlarge: 1600px;

/* Mixin */
@mixin grey-gradient{
    background-color: rgba(255, 255, 255, 0.3);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

@mixin sprite($x, $y1, $y2){
    background-position: $x $y1;
    &.active,
    &:active{
        background-position: $x $y2;
    }
}



/* Les tailles d'écrans
0    - 299  : Fphones
300  - 569  : Smartphones
570  - 969  : Phablet
970  - 1199 : Tablettes
1200 - 1899 : PCs
1900 - 3000 : Grands PCs
*/