<!--
<footer class="footer" role="contentinfo">
<div class="footer-secondary-links">

<p>Made with <i class="fa fa-heart"></i> by <a href="http://weareleka.com" target="_blank">Leka</a> | &copy; 2015</p>

<a title="Ecrivez-nous!" href="mailto:hello@weareleka.com?subject=I%20Love%20Leka&amp;body=You%20are%20awesome,%20keep%20up%20the%20good%20work!"><i class="fa fa-envelope-o"></i></a>
<a title="Follow us on Facebook" href="https://www.facebook.com/WeAreLeka"><i class="fa fa-facebook-square"></i></a>
<a title="Follow us on Twitter" href="https://twitter.com/WeAreLeka"><i class="fa fa-twitter"></i></a>
<a title="Follow us on Github" href="https://github.com/WeAreLeka"><i class="fa fa-github"></i></a>
<a title="Follow our blog" href="http://blog.weareleka.com"><i class="fa fa-rss"></i></a>
<a title="Follow us on Vimeo" href="http://www.youtube.com/user/LekaSmartToy"><i class="fa fa-vimeo-square"></i></a>

</div>
</footer>

<script src="/components/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/script.js" type="text/javascript" charset="utf-8"></script>-->




<footer>
  <div>
    <div class="col left">
      <a href="https://www.facebook.com/WeAreLeka">Leka on Facebook</a>
    </div><div class="col middle">
    <img class="foot-ico" src="/img/foot-main.png">
    </div><div class="col right">
    <a href="http://twitter.com/weareleka" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-1.png"></a>
    <a href="mailto:contact@dailydinities.fr" style="padding-right: 0;"><img class="foot-ico" src="/img/foot-2.png"></a>
    </div>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27162422-4', 'auto');
  ga('send', 'pageview');

</script>