<!--
<header class="navigation" role="banner">
<div class="navigation-wrapper">
<a href="javascript:void(0)" class="logo">
<img src="/img/Leka-Logo.png" alt="Logo Image">
</a>
<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i></a>
<nav role="navigation">
<ul id="js-navigation-menu" class="navigation-menu show">
<li class="nav-link"><a href="javascript:void(0)">Products</a></li>
<li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
<li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
<li class="nav-link more"><a href="javascript:void(0)">More</a></li>
</ul>
</nav>
</div>
</header>-->


<header id="nav">
  <div class="content">
    <a href="/#art-1" class="logo"></a>
    <nav>
      <ul class="nav">
        <!--<li><a href="/#art-1">L'entreprise</a>
        </li><li><a href="/#art-2">L'équipe</a>
        </li><li><a href="/#art-4">Rejoignez-nous</a>
        </li><li><a href="/#art-5">Contact</a>
        </li><li class="twitter"><a href="https://twitter.com/weareleka"><div></div></a></li>-->
      </ul>
    </nav>
  </div>
</header>
