<head>

    <meta charset="utf-8">

    <title>Leka | Discover Moti!</title>
    <meta name="description" content="">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <meta name="description" content="Leka is a young startup whose goal is to develop smart and innovative toys to help exceptional children live a normal life">

    <meta property="og:description" content="Leka is a young startup whose goal is to develop smart and innovative toys to help exceptional children live a normal life">
    <meta name="twitter:description" content="Leka is a young startup whose goal is to develop smart and innovative toys to help exceptional children live a normal life">

    <meta name="Keywords" content="autism, robot, smart, toy, exceptional, children, exceptional children, autistic, asd, autism spectrum disorder, sphere, sensory, ball, interactive, communication, music, movements, lights, aba, teacch, pecs, special education, play, learn, progress, fun, happy, low level, high functioning, robotics, technology">

    <meta name="author" content="Co-authored by Adrien Gsell &amp; Ladislas de Toldi for Leka">

    <meta name="robots" content="index, follow">

    <meta property="og:title" content="Leka | Discover Moti">
    <meta property="og:site_name" content="Leka">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="http://www.leka.io/">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@weareleka">
    <meta name="twitter:creator" content="@ladisonline">

    <!--CSS-->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Icons -->
    <!--[if IE]><link rel="shortcut icon" href="/favicon.ico" /><![endif]-->
    <link rel="icon" type="image/png" href="favicon.png">

    <meta property="og:image" content="http://www.dailydinities.fr/img/logo.png">
    <meta name="twitter:image" content="http://www.dailydinities.fr/img/logo.png">

    <link rel="apple-touch-icon-precomposed" href="/img/ios/icns_114x114.png" sizes="114x114">
    <link rel="apple-touch-icon-precomposed" href="/img/ios/icns_57x57.png" sizes="57x57">
    <link rel="apple-touch-icon-precomposed" href="/img/ios/icns_72x72.png" sizes="72x72">
    <link rel="apple-touch-icon-precomposed" href="/img/ios/icns_144x144.png" sizes="144x144">

    <meta name="msapplication-TileColor" content="#E7ECF5">
    <meta name="msapplication-TileImage" content="/img/logo.png">

    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" src="//use.typekit.net/xeq8uxl.js"></script>

    <style type="text/css">.tk-camingodos-web{font-family:"camingodos-web",sans-serif;}</style><link rel="stylesheet" href="http://use.typekit.net/c/a76fd8/1w;camingodos-web,2,Q8J:P:n2,Q8L:P:n3,Q8N:P:n4,Q8Q:P:n6,Q8S:P:n7,Q8V:P:n8,Q8X:P:n9/d?3bb2a6e53c9684ffdc9a9bf0195b2a626aa145229785569535bc08694de6b31c599b7bae59152469ad95f0a760361edc73aec01ddf709835f6b2a7834d283346ffb953ff412325f4200de20f606dbab22342dc4f2b65e02b3df3484fb546b56906a3ab3fdbed4ac4f993515f35670299f10201bb8448ffb094960be117c91b7703167f190ccdfcbb38e4273c0d7f6f8fa7b0da4f54d0cabf540ccfdfb4fc92dfbe2870"><script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/components/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script type="text/javascript" src="/js/noty-theme.js"></script>

    <meta name="google-site-verification" content="u_jMeVlqwU6m_mQM6s6L9WCoOWeeB3t-kv9MM1obJ_M">

    <!--[if lte IE 9]><script src="js/html5shiv.min.js"></script><![endif]-->

</head>
