.footer {
	$base-spacing: 1.5em !default;
	$base-accent-color: #477DCA !default;
	$medium-screen: em(640) !default;
	$large-screen: em(860) !default;

	@include vertical-horizontal-centering();

	$footer-image: '/img/moti/Moti-day.jpg';

	@include background-image(url($footer-image));
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	$footer-background: desaturate(darken($base-accent-color, 20%), 30%);
	$footer-color: black;
	$footer-link-color: transparentize($footer-color, 0.6);
	$footer-disclaimer-color: transparentize($footer-color, 0.6);

	// background: $footer-background;
	padding: $base-spacing;
	width: 100%;

	color: $footer-link-color;

	text-align: center;

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: $footer-link-color;

		&:hover {
			color: transparentize($footer-color, 0);
		}
	}

	ul {
		// margin-bottom: 1em;

		@include media($large-screen) {
			float: left;
			line-height: 1.8em;
			// margin-left: 1em;
			// margin-bottom: 0;
			// padding-top: 0.5em;
		}
	}
}
