<!doctype html>
<html lang="fr">
  <head>
    <%- include partials/head.ejs %>
  </head>

  <body>
    <%- include partials/header.ejs %>
    <section class="hero">
      <div class="hero-inner">
        <a href="" class="hero-logo"><img src="/img/Moti-Logo.png" alt="Logo Image"></a>
        <div class="hero-copy">
          <h1>Say Hello to Moti</h1>
          <p>And discover a new way to play, learn and progress</p>
        </div>

        <div class="modal">
          <label for="modal-pre-order">
            <div class="modal-trigger">Pre-order</div>
          </label>

          <label>
            <div class="learn-more"><a href="#">Learn more</a></div>
          </label>

          <input class="modal-state" id="modal-pre-order" type="checkbox" />
          <div class="modal-window">
            <div class="modal-inner">
              <label class="modal-close" for="modal-pre-order"></label>
              <h1>We are launching soon and we need you!</h1>
              <p class="modal-intro">In about six months, we will launch a worldwide crowdfunding campaign. To get there, we need your precious help!</p>
              <p class="modal-content">If you want to be part of the adventure, be the first to know when we'll launch, take part in beta testing and help us build the best campaign for the best product, join us!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="what-is-moti">

      <ul class="bullets">
        <li class="bullet three-col-bullet">
          <div class="bullet-icon bullet-icon-1">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
                      " alt="">
          </div>
          <div class="bullet-content">
            <h2>This Bullet Title</h2>
            <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
          </div>
        </li>
        <li class="bullet three-col-bullet">
          <div class="bullet-icon bullet-icon-2">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
          </div>
          <div class="bullet-content">
            <h2>Another Bullet Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
          </div>
        </li>
        <li class="bullet three-col-bullet">
          <div class="bullet-icon bullet-icon-3">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
          </div>
          <div class="bullet-content">
            <h2>Last Bullet Title</h2>
            <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
          </div>
        </li>
      </ul>
    </section>

    <!-- <section class="video"> -->
    <!-- <div class="video&#45;wrapper"> -->
    <!-- <iframe src="//player.vimeo.com/video/99045227?title=0&#38;amp;byline=0&#38;amp;portrait=0&#38;amp;autoplay=0&#38;amp;loop=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
    <!-- <iframe src="http://www.youtube.com/embed/bqtvzOb9bi0?rel=0&#38;modestbranding=1&#38;autoplay=1&#38;loop=1&#38;showinfo=0&#38;iv_load_policy=3&#38;controls=0" frameborder="0" allowfullscreen></iframe> -->
    <!-- </div> -->
    <!-- </section> -->

    <!-- <div id="map_cavas"></div> -->
    <section class="beta-signup">
      <h2>Sign up for beta access</h2>
      <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>
    </section>

    <%- include partials/footer.ejs %>

  </body>
</html>