<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Daily d'initiés | Outils sur mesures</title>
    <meta name="description" content="Outils de suivi markateing et d'analytics pour les chaînes, régies et agences">
    <%- include partials/head.ejs %>
    <script type="text/javascript" src="/js/script.js"></script>
  </head>

  <body>
    <%- include partials/header.ejs %>

    <div id="container">
      <article id="art-1">
        <section class="top">
          <img class="back" src="/img/top.jpg">
          <img class="logo" src="/img/logo-400.png">
          <div class="title">Discover Moti: a new kind of friend, a new way to play</div>
        </section>
<!--
        <section class="mid mid1">
          <h4>
            Daily d’initiés est l'éditeur indépendant de référence dans la data visualisation et l'analyse marketing pour les médias. 
            Nous répondons aux besoins des éditeurs, régies, producteurs et agences en leur proposant nos outils nativement orientés Big Data.
          </h4>
          <div>
            <div class="comp">
              <img class="back" src="/img/comp1.png">
              <div>Nous éditons 9h00, une application ergonomique et facile d'accès de suivi de la consommation TV.</div>
            </div><div class="comp">
            <img class="back" src="/img/comp2.png">
            <div>Nos applications sont utilisables sur ordinateur, smartphone et tablette</div>
            </div><div class="comp">
            <img class="back" src="/img/comp3.png">
            <div>Nous réalisons un pont entre plus de 10 sources de données différentes</div>
            </div><div class="comp">
            <img class="back" src="/img/comp4.png">
            <div>Nos applications s'appuient sur nos 20 années d'expérience dans le monde des médias</div>
            </div>
          </div>
        </section>
-->

        

        
      </article>

      <%- include partials/footer.ejs %>
    </div>
  </body>
</html>